<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550399240107-u2u6bcts6evc5pf1bs40hrb8pj0k832t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550399240107-u2u6bcts6evc5pf1bs40hrb8pj0k832t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>550399240107-675323vb63hg3ua8fl8qmmjnu73c0i88.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAymVuyINS4MiEoVM4thHkaKDE5S0Vevis</string>
	<key>GCM_SENDER_ID</key>
	<string>550399240107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ai.news</string>
	<key>PROJECT_ID</key>
	<string>unified-parser-394705</string>
	<key>STORAGE_BUCKET</key>
	<string>unified-parser-394705.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550399240107:ios:b94d19050e9c5577b354ee</string>
</dict>
</plist>